@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<!--h3>@ViewData["Message"]</h3>-->

<h3>
<address>
    Contact the ShopSight team by email at <a href="mailto:ShopSight@cs.uw.edu">ShopSight@cs.uw.edu</a><br />
</address>
</h3>