@{
    ViewData["Title"] = "Home";
}

<div class="row" style="background-color:cadetblue">
    <div class="col-md-12" style="height:300px;text-align: center;position: relative;">
        <img 
        class="dropShadow " 
        src="/images/shopSightLogo.png" 
        style="top:50%;left:50%;position:absolute; filter: drop-shadow(-1px 0px 5px #222); transform: translate(-50%, -50%)">
    </div>
</div>
<div class="row" style="padding:20px 0;background-color:slategray;">
    <div class="col-md-12" style="text-align: center">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/bzIzQzdVGyU" 
            frameborder="0" 
            allowfullscreen="" 
            style="text-align: center;display: inline-block;"></iframe>
    </div>
</div>