
@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

/* The element to apply the animation to */
.eg-fade-in {
    transition: 2s;
}

.new {
    /*animation-name: example;
    animation-duration: 4s;*/
    background-color: yellow !important;
}

.sampleDisplay {
    min-height: 400px;
}

@keyframes dropShadowFrames {
    0% {
        filter: drop-shadow(-1px 0px 5px #222);
    }

    25% {
        filter: drop-shadow(-1px 0px 5px #e08c20);
    }

    50% {
        filter: drop-shadow(-1px 0px 5px #3dae10);
    }

    75% {
        filter: drop-shadow(-1px 0px 5px #083a85);
    }

    100% {
        filter: drop-shadow(-1px 0px 5px #222);
    }
}

.dropShadow {
    filter: drop-shadow(-1px 0px 5px #222);
    animation-name: dropShadowFrames;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.centerContainer > .centerItem {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.centerContainer {
    position: relative;
}

.fader {
    opacity: 0;
    transition: opacity 2s;
}

.fader-in {
    opacity: 1;
}

.mockup {
    margin-top: 20px;
    width: 100%;
}

.title-slide {
    height: 620px;
}

.rack {
    border: 2px solid steelblue;
    background: lightgray;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.rack-round {
    text-shadow: 0px 0px 20px black;
    font-size: 50px;
    transition: background-color .5s, filter .5s, font-size .5s;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px white)
}

    .rack-round.rack-1 {
        left: 50px;
        top: 20px;
    }

    .rack-round.rack-2 {
        left: 300px;
        top: 20px;
    }

    .rack-round.rack-3 {
        left: -75px;
        top: 250px;
    }

    .rack-round.rack-4 {
        left: 175px;
        top: 250px;
    }

.customer-service {
    left: 400px;
    top: 300px;
    border-radius: 0px;
    width: 200px;
    height: 100px;
    position: absolute;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 20px black;
    font-size: 20px;
    transform: rotate(90deg);
}

.heatMap {
    border: 1px solid lightgray;
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hot-0 {
    filter: drop-shadow(0px 0px 20px lightblue);
    background-color: lightblue;
    font-size: 30px;
}

.hot-1 {
    filter: drop-shadow(0px 0px 20px yellow);
    background-color: yellow;
    font-size: 40px;
}

.hot-2 {
    filter: drop-shadow(0px 0px 20px orange);
    background-color: orange;
    font-size: 50px;
}

.hot-3 {
    filter: drop-shadow(0px 0px 20px orangered);
    background-color: orangered;
    font-size: 60px;
}

.hot-4 {
    filter: drop-shadow(0px 0px 20px red);
    background-color: red;
    font-size: 70px;
}

.proximity-3 .rack, .page-interest .rack {
    background-color: lightblue;
}

.rack-text {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    height: 0;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    transform: rotate(90deg);
}

.rack-rectangle {
    width: 100px;
    height: 200px;
}

    .rack-rectangle.rack-1 {
        left: 50px;
        top: 20px;
    }

    .rack-rectangle.rack-2 {
        left: 50px;
        top: 300px;
    }

.rack-rectangle {
    opacity: .3;
    transform: scale(.7);
}

    .rack-rectangle.rack-main {
        left: 250px;
        top: 50%;
        height: 400px;
        opacity: 1;
        transform: scale(1) translateY(-50%);
    }

        .rack-rectangle.rack-main .rack-text {
            transform: rotate(90deg) translateY(25px);
            font-size: 25px;
        }

.proximity-3.heatMap {
    height: 530px;
}

.proximity-3 > .customer-service {
    left: 350px;
    top: 210px;
    display: none;
}

.item-proximity-tags {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 5px 5px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    color: black;
}

    .item-proximity-tags > li {
        display: block;
        border: 1px solid black;
        border-radius: 2px;
        padding: 0 2px;
    }

.item-proximity {
    position: absolute;
    right:0px;
    top: 0px;
    padding: 5px 0 5px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .item-proximity > li {
        margin-top: 5px;
        width: 20px;
        height: 20px;
        background-color: orange;
        border-radius: 50%;
        display: block;
        visibility: hidden;
        position: relative;
    }


@keyframes ring1 {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes ring2 {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(5);
        opacity: 0;
    }
}

@keyframes proximityAnimation {
    from {
        background-color: orange;
        transform: scale(.75);
        filter: drop-shadow(0px 0px 10px orange);
    }

    to {
        background-color: red;
        transform: scale(1);
        filter: drop-shadow(0px 0px 20px red);
    }
}

.item-proximity > li.in-proximity {
    visibility: visible;
}

.ring {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    opacity: .4;
    animation-name: ring1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ring1 {
    animation-delay: 0s;
}

.ring2 {
    animation-delay: 1s;
}

.ring3 {
    animation-delay: 2s;
}

/* Page interest specific */
.page-interest .ring {
    background-color: orange;
}

.page-interest .item-proximity {
    transform:translateX(-70%)
}
/* Proxmity specific*/

.proximity-3 .ring {
    background-color: rgb(18,36,224);
}

.proximity-3 .item-proximity {
    transform:translateX(200%);
}

.item-card-picture {
    height: 150px;
    width: 150px;
}

.page-interest .list-group > .list-group-item:only-child .item-card-picture {
    height: 300px;
    width: 100%;
    text-align: center;
    float: none !important;
}

.page-interest .list-group > .list-group-item:only-child .item-card-caption {
    text-align: center;
}

.page-interest .list-group > .list-group-item:only-child .item-card-caption .label {
    display:none;
}

.page-location .item-card-caption h2 {

}

.page-location .on-rack .list-group-item {
    width:50%;
    /*vertical-align:middle;*/
    /*display:inline-block;*/
    /*font-size: 60px;*/
}

.page-location .on-rack .list-group {
    display:flex;
    flex-wrap:wrap;
}

.page-location .card-list-header {
    text-align:center;
}

.item-card-caption, .item-card-picture {
    display:inline-block;
    vertical-align:top;
}

.item-card-caption {
    padding-left:10px;
}